.fp-main {
    gap: 5rem;
}

/* SECTIONS */
.fp-section-1,
.fp-section-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

/* SECTION INTERIOR */
.fp-section-1-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    
}
.fp-section-1-div h1 {
    font-size: 45px;
}

/* SECTION 1 INTERIOR IMAGES */
.fp-image-div {
    padding-right: 60px;
    width: 70%;
}   
.fp-image-div img {
    width: 100%;
}