.fp-main {
    padding: 7px;
    gap: 10rem;
}

/* SECTIONS */
.fp-section-1,
.fp-section-2,
.fp-section-3,
.fp-section-4 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

#first {
    height: 60vh;
    background-image: url(../../assets/images/fp4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SECTION INTERIOR */
.fp-section-1-div,
.fp-section-2-div,
.fp-section-3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    
}
.fp-section-1-div h1,
.fp-section-2-div h1,
.fp-section-3-div h1 {
    font-family: "DM Serif Display", serif;
    font-size: 45px;
}

.fp-section-1-div p,
.fp-section-2-div p,
.fp-section-3-div p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* SECTION 1 INTERIOR IMAGES */
/* .fp-image-div {
    width: 70%;
}    */
.fp-image-div img {
    border-radius: 10px;
    width: 100%;
}
