header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f4f4f4;
}

nav ul {
  display: flex;
  text-decoration: none;
  gap: 4rem;
  list-style: none;
}